* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container {
  margin-left: 344px;
  margin-right: 344px;
}
.menu {
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 21px;
}
.menu h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 24px;
  color: #556686;
}
.menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-width: 217px;
  padding-left: 11px;
}
.menu a:hover {
  opacity: 0.7;
}
.menu a {
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding: 14px 15px 14px 15px;
  background-color: #2d72cd;
  text-decoration: none;
  margin-left: 200px;
}
.menu__contacts h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.menu__contacts a {
  padding: 0;
  color: #5284f7;
  margin: 0;
  background-color: white;
  text-decoration: underline;
}
.menu__contacts {
  text-align: right;
  margin-left: 130px;
}
hr {
  border: 1px solid #aeb6bb;
  border-top: 0;
}
header hr {
  border: 1px solid #aeb6bb;
  border-top: 0;
}
main {
  display: flex;
  margin-left: 344px;
  margin-top: 168px;
  margin-bottom: 70px;
}
.text p {
  font-weight: 600;
  font-size: 35px;
  line-height: 56px;
  color: #213252;
  margin-bottom: 73px;
}
.text .text__p {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #213252;
}
.text a {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: white;
  text-decoration: none;
  margin-top: 41px;
}
.text {
  max-width: 625px;
}
.text__link {
  padding: 12px 83px 12px 83px;
  background-color: #2d72cd;
  text-align: center;
  max-width: 400px;
}
.text__column {
  position: relative;
}
.text__link:hover {
  opacity: 0.7;
}
.text__button {
  position: absolute;
  background-color: #e28519;
  border-radius: 8px;
  padding: 7px 6px 7px 6px;
  max-width: 300px;
  top: 492px;
  left: 471px;
}
.text__text {
  display: flex;
  align-items: center;
  border: dashed 1px;
  border-radius: 8px;
  color: white;
  padding: 21px 14px 20px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.text__text svg {
  width: 32px;
  height: 42px;
}
.text__text p {
  max-width: 200px;
  margin-left: 20px;
}
.text__button:hover {
  opacity: 0.9;
}
.products {
  margin-top: 106px;
}
.products h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  max-width: 688px;
  margin-bottom: 10px;
}
.products span {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.products__assortment {
  margin-top: 60px;
}
.products__assortment p {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.products__goods {
  border: 1px solid #aeb6bb;
  margin-top: 33px;
}
.products__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.products__item div {
  border-right: 1px solid #aeb6bb;
  text-align: center;
  padding: 23px 30px 23px 30px;
  width: 100%;
}
.products__item {
  display: flex;
}
.products__item div:hover {
  background-color: #EDF1F4;
}