* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    margin-left: 344px;
    margin-right: 344px;
}
.menu {
    display: flex;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 21px;
}
.menu h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 24px;
    color: #556686;
    
}
.menu p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 217px;
    padding-left: 11px;
}
.menu a {
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 14px 15px 14px 15px;
    background-color: #2D72CD;
    text-decoration: none;
    margin-left: 200px;
}
.menu__contacts h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
.menu__contacts a {
    padding: 0;
    color:  #5284F7;
    margin: 0;
    background-color: white;
    text-decoration:underline;
}
.menu__contacts {
    text-align: right;
    margin-left: 131px;
}
header hr {
    border: 1px solid #AEB6BB;
    border-top: 0;
}