.benefits {
  margin-top: 127px;
  &__info {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 34px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      max-width: 447px;
    }
  }
  &__img--logo {
    width: 218px;
    height: 80px;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
    div {
      display: flex;
      align-items: center;
    }
    p {
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      color: #035491;
      max-width: 113px;
    }
    &--div div {
      margin: 0;
    }
  }
  &__arcelor {
    max-width: 182px;
    max-height: 76px;
  }
  &__company {
    display: flex;
    max-width: 527px;
    &__company {
      display: flex;
      max-width: 527px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .benefits {
    margin-top: 74px;
    h1 {
      font-size: 18px;
      line-height: 24px;
    }
    &__info {
      flex-direction: column;
      margin-top: 45px;
      margin-bottom: 46px;
      h4 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 14px;
      }
      p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 50px;
      }
      img {
        max-width: 276px;
      }
    }
    &__company {
      justify-content: space-between;
    }
    &__logo {
      padding-left: 0;
      img {
        max-width: 108px;
      }
    }
  }
}
