.director {
  background-image: url(../img/image25.png);
  background-repeat: no-repeat;
  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 21px 19px 21px 14px;
    border-radius: 8px;
    background-color: white;
    span {
      font-weight: 400;
    }
  }
  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 177px;
    padding-bottom: 17px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    form {
      padding: 28px 104px 40px 104px;
      background-color: #1a2c41;
      border-radius: 4px;
      color: white;
      margin-top: 55px;
      max-width: 712px;
      input[type="text"] {
        padding: 20px 104px 18px 10px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        span {
          font-weight: 600;
          color: white;
        }
      }
      a {
        text-decoration: none;
        color: white;
        padding: 19px 35px 19px 35px;
        background-color: #2d72cd;
      }
      a:hover {
        background-color: #1c4f93;
      }
    }
    h1 {
      font-weight: 600;
      font-size: 23px;
      line-height: 32px;
      margin-bottom: 27px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 23px;
      span {
        color: #1c5aac;
      }
    }
  }
  &__paragr {
    max-width: 575px;
  }
}
@media screen and (max-width: 1200px) {
  .director {
    background-position-x: -380px;
    background-position-y: 868px;
    &__info {
      flex-direction: column-reverse;
      padding-top: 74px;
      align-items: center;
    }
    &__form {
      padding-bottom: 464px;
      h1 {
        font-size: 18px;
        line-height: 24px;
        max-width: 263px;
      }
      p {
        max-width: 263px;
        font-size: 12px;
        line-height: 20px;
      }
      form {
        padding: 37px 30px 63px 26px;
        max-width: 320px;
        margin-right: 0px;
        p {
          font-size: 14px;
          line-height: 24px;
        }
        input[type="text"] {
          padding: 14px 71px 14px 10px;
          margin-bottom: 52px;
        }
        a {
          padding: 21px 71px 21px 71px;
        }
      }
    }
  }
}
