.doc {
  background: #f6f6f6;
}
.documents {
  h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    padding-top: 77px;
    padding-bottom: 23px;
  }
  span {
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 52px;
  }
  &__images {
    padding-top: 52px;
    padding-bottom: 57px;
    &--media {
      display: none;
    }
  }
}
@media screen and (max-width: 1200px) {
  .documents {
    h1 {
      font-size: 18px;
      line-height: 24px;
      padding-top: 51px;
    }
    span {
      font-size: 12px;
      line-height: 20px;
    }
    &__img {
      display: flex;
      align-items: center;
      img {
        padding-left: 12px;
        padding-right: 12px;
        max-width: 258px;
        padding-top: 53px;
        padding-bottom: 33px;
      }
    }
    &__img--none {
      display: none;
    }
    &__images {
      display: none;
      &--media {
        display: block;
      }
    }
  }
}
