.form {
  background-color: #f6f6f6;
  margin-top: 81px;
  padding-bottom: 84px;
  &__panel {
    display: flex;
    position: relative;
    padding-top: 88px;
    picture {
      position: absolute;
      left: 244px;
      top: 0px;
    }
  }
  &__info {
    h1 {
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      max-width: 400px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      max-width: 349px;
      margin-top: 38px;
    }
    .form__panel2 {
      p {
        padding: 33px 26px 32px 29px;
        max-width: 491px;
        left: 143px;
        top: 479px;
        position: absolute;
        border-radius: 8px;
        background-color: white;
      }
      a {
        text-decoration: none;
        color: #19539f;
      }
    }
  }
  &__form {
    margin-left: 459px;
    max-width: 312px;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
    }
    input {
      padding: 14px 10px 14px 10px;
      border: 1px solid #cdd6db;
      border-radius: 4px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
    div {
      margin-top: 24px;
      p {
        margin-bottom: 6px;
      }
    }
    &--info {
      display: flex;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      justify-content: space-between;
      align-items: center;
      p {
        max-width: 288px;
      }
    }
  }
  &__text2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    a {
      text-decoration: none;
      color: #2d72cd;
    }
  }
  &__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    margin-top: 14px;
    padding-bottom: 18px;
  }
}