.info {
  margin-top: 173px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__row {
    display: flex;
    h4 {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      max-width: 497px;
      span {
        font-weight: 600;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 497px;
      margin-top: 35px;
    }
  }
  &__country {
    margin-left: 119px;
    flex: 1 0 auto;
    > div:last-child {
      margin-left: 183px;
      margin-top: -26px;
      display: flex;
      justify-content: flex-end;
    }
  }
  &__row--width2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      max-width: 311px;
    }
  }
  &__row--width {
    margin-top: 57px;
    justify-content: space-between;
    align-items: center;
    h4 {
      max-width: 454px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .info {
    margin-top: 48px;
    &__row {
      flex-direction: column;
      h4 {
        font-size: 18px;
        line-height: 22px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
      }
      &--width2 {
        flex-direction: column-reverse;
        margin-top: 73px;
        p {
          margin-top: 23px;
        }
        img {
          width: 305px;

        }
      }
      &--width {
        margin-top: 94px;
        img {
          width: 284px;
          margin-top: 44px;
        }
      }
    }
    &__country {
      margin: 0;
      img {
        width: 280px;
        height: 142px;
      }
      div:last-child {
        margin: 0;
        justify-content: flex-start;
      }
    }
  }
}
