.info {
  margin-top: 173px;
  &__row {
    display: flex;
    h4 {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      max-width: 497px;
      span {
        font-weight: 600;
      }
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 497px;
      margin-top: 35px;
    }
  }
  &__country {
    margin-left: 119px;
    position: relative;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 13px;
    }
  }
  &__market {
    position: absolute;
    top: 60px;
    left: 45px;
  }

  &__market2 {
    position: absolute;
    left: 35px;
    top: 81px;
  }
  &__market3 {
    position: absolute;
    left: 86px;
    top: 98px;
  }
  &__arrow {
    position: absolute;
    left: 45px;
    top: 92px;
  }
  &__arrow2 {
    position: absolute;
    top: 71px;
    left: 54px;
  }
  &__cross {
    position: absolute;
    top: 18px;
    left: 266px;
  }
  &__text {
    position: absolute;
    top: 22px;
    left: 61px;
  }
  &__text2 {
    position: absolute;
    left: 99px;
    top: 62px;
  }
  &__text3 {
    position: absolute;
    top: 44px;
    left: -14px;
  }
  &__img {
    display: flex;
    padding-left: 173px;
  }
  &__tick {
    position: absolute;
    top: 187px;
    right: 33px;
  }
  &__icon {
    position: absolute;
    top: 256px;
    left: 226px;
  }
  &__arrow3 {
    position: absolute;
    top: 273px;
    left: 224px;
  }
  &__icon2 {
    position: absolute;
    top: 288px;
    left: 221px;
  }
  &__row--width2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
      max-width: 311px;
    }
  }
  &__row--width {
    margin-top: 57px;
    justify-content: space-between;
    align-items: center;
    h4 {
      max-width: 454px;
    }
  }
}
