.menu {
  display: flex;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 21px;

  & h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 24px;
    color: #556686;
  }
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 217px;
    padding-left: 11px;
  }
  & a:hover {
    color: #213252;
  }
  & a {
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 14px 15px 14px 15px;
    background-color: #2d72cd;
    text-decoration: none;
    margin-left: 200px;
  }
  &__contacts h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  &__contacts {
    text-align: right;
    margin-left: 130px;
    a {
      padding: 0;
      color: #5284f7;
      margin: 0;
      background-color: white;
      text-decoration: underline;
    }
  }
}
