.panel {
  background-color: #1a2c41;
  color: white;
  position: relative;
  margin-top: 127px;
  picture {
    position: absolute;
    top: -75px;
    right: 341px;
  }
  h1 {
    padding-top: 76px;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    max-width: 530px;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
    div p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin-top: 24px;
      margin-bottom: 11px;
    }
    div input {
      padding: 14px 56px 14px 10px;
      font-weight: 400;
      font-size: 16px;
    }
    div select {
      padding: 14px 56px 14px 10px;
      font-weight: 400;
      font-size: 14.5px;
      color: #65677c;
    }
  }
  &__button {
    button {
      text-decoration: none;
      color: white;
      padding: 21px 84px 21px 84px;
      background-color: #2d72cd;
      border: none;
      &:hover {
        background-color: #21262d;
      }
    }
    div {
      margin-top: 20px;
      margin-bottom: 9px;
    }
    p {
      max-width: 400px;
      font-size: 15px;
      padding-bottom: 75px;
    }
    &--padding button {
      padding: 21px 84px 21px 84px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .panel {
    margin-top: 45px;
    h1 {
      font-size: 16px;
      line-height: 24px;
    }
    &__form {
      div {
        p {
          font-size: 14px;
          line-height: 28px;
        }
        input {
          font-size: 12px;
          line-height: 28px;
          padding: 9px 105px 9px 10px;
        }
        select {
          padding: 16px 79px 16px 10px;
          font-size: 12px;
          line-height: 28px;
        }
      }
    }
    &__text {
      font-size: 14px;
      line-height: 22px;
    }
    &__button {
      div {
        margin-top: 14px;
      }
      button {
        padding: 16px 74px 16px 74px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 68px;
      }
    }
  }
}
