.products {
  margin-top: 106px;

  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    max-width: 688px;
    margin-bottom: 10px;
  }
  span {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  &__ul {
    display: flex;
    border: 0;
  }
  &__assortment {
    margin-top: 60px;
    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__goods {
    border: 1px solid #aeb6bb;
    margin-top: 33px;
  }
  &__items {
    display: flex;
  }
  &__item {
    border-right: 1px solid #aeb6bb;
    text-align: center;
    padding: 23px 30px 23px 30px;
    width: 100%;
    text-decoration: none;
    color: #606774;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
    &:hover {
      background-color: #edf1f4;
    }
  }

  &__info {
    display: flex;
    .products__rolled-metal {
      padding: 0;
      border: none;
      margin-top: -68px;
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      ul {
        margin: 0;
      }
      div {
        border: none;
        padding: 0;
        max-width: 186px;
        margin-bottom: 21px;
      }
    }
    .products__ul {
      border: none;
      padding: 0;
      ul {
        margin-bottom: 139px;
      }
    }
    &--none {
      display: none;
    }
    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 36px;
    }
    ul {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
    div {
      padding-left: 60px;
      padding-top: 108px;
      width: 100%;
      border-left: 1px solid #aeb6bb;
      border-top: 1px solid #aeb6bb;
    }
    a {
      padding: 14px 52px 14px 52px;
      text-decoration: none;
      background-color: #2d72cd;
      color: white;
    }
    a:hover {
      background-color: #213252;
    }
    ul {
      padding-left: 20px;
      margin-bottom: 209px;
      margin-top: 18px;
    }
    picture {
      max-height: 590px;
    }
  }
  &__form {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .products {
    margin-top: 32px;
    &__form {
      display: block;
      width: 272px;

      border: 1px solid #aeb6bb;
      img {
        width: 184px;
        height: 177px;
      }
      select {
        border-bottom: 1px solid #aeb6bb;
        padding: 9px 28px 9px 46px;
        font-size: 12px;
        line-height: 20px;
      }
      ul {
        font-size: 12px;
        line-height: 24px;
        padding-left: 15px;
      }
    }
    &__price {
      padding: 11px 36px 11px 36px;
      margin-top: 35px;
      margin-bottom: 32px;
      background-color: #2d72cd;
      a {
        text-decoration: none;
        color: white;
      }
    }
    &__img {
      padding: 12px 17px;
    }
    h1 {
      font-size: 16px;
      line-height: 24px;
    }
    span {
      font-size: 12px;
      line-height: 20px;
    }
    &__assortment {
      margin-top: 37px;
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &__goods {
      display: none;
    }
  }
}
