.stock {
  margin-top: 162px;
  h2 {
    font-weight: 600;
    font-size: 40px;
    max-width: 851px;
    span {
      font-weight: 400;
      font-size: 24px;
    }
  }
  &__line {
    display: flex;
    align-items: center;
    margin-top: 24px;
    h6 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-left: 39px;
      span {
        font-weight: 400;
      }
    }
  }
  &__line--margin {
    margin-top: 0;
  }
  &__assortment {
    display: flex;
    margin-top: 61px;
    justify-content: space-between;
  }
  &__image {
    max-width: 712px;
    position: relative;
    p {
      position: absolute;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: white;
      background: #211d1d;
      padding: 17px 151px 16px 49px;
      top: 491px;
    }
  }
  &__panel {
    margin-top: 179px;
    font-weight: 600;
    color: white;
    font-size: 40px;
    line-height: 52px;
    padding: 55px 166px 54px 233px;
    border-radius: 16px;
    background: linear-gradient(
        0deg,
        rgba(26, 44, 65, 0.79),
        rgba(26, 44, 65, 0.79)
      ),
      url(/img/image20.png);
  }
}
@media screen and (max-width: 1200px) {
  .stock {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 16px;
      line-height: 24px;
      span {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__assortment {
      margin-top: 41px;
      flex-direction: column;
    }
    &__line {
      img {
        width: 124px;
        height: 82px;
      }
      h6 {
        margin-left: 20px;
        font-size: 14px;
        line-height: 18px;
      }
    }
    &__image {
      margin-top: 34px;
      img {
        width: 267px;
        height: 217px;
      }
      p {
        font-size: 12px;
        line-height: 16px;
        padding: 9px 8px 5px 18px;
        max-width: 267px;
        top: 155px;
      }
    }
    &__panel {
      margin-top: 70px;
      font-size: 18px;
      line-height: 32px;
      padding: 64px 30px 50px 24px;
      margin-left: -24px;
      margin-right: -24px;
      border-radius: 0;
      background-position-x: center;
      background-image: url(../img/image20.png);;
    }
  }
}
